/* ==UserStyle==
@name           ReRozetked
@namespace      github.com/openstyles/stylus
@version        2024.7.10
@description    Make Rozetked Great Again
@author         Anton Kurilov (kurilov.site)
==/UserStyle== */
@-moz-document domain("rozetked.me") {
    * {
        --color-bg: #e5c41d;
        --color-bg-hover: #d1b218;
        --border-radius: 10px;
    }

    /* BASE ELEMENTS */
    body {
        scroll-behavior: smooth;
    }
    a.btn,
    a.btn__delete,
    button.btn,
    button.btn__delete,
    input[type=submit],
    .acp .title_block ._actions a {
        border-radius: var(--border-radius);
        transition: all .5s;
        &:hover {
            background-color: var(--color-bg-hover);
            color: #000;
        }
    }
    input[type=text],
    input[type=date],
    input[type=datetime-local],
    input[type=email],
    input[type=password],
    input[type=color],
    textarea,
    select,
    .SumoSelect > .CaptionCont,
    .select2-container--default .select2-selection--single,
    .btn,
    .btn__delete {
        border-radius: var(--border-radius);
    }
    .in_loading:before {
        border-radius: var(--border-radius);
    }
    body.scheme_dark .in_loading:before {
        background-color: rgba(0, 0, 0, .7);
    }

    /* HEADER */
    /* remove username from header */
    .logged_in {
        display: none;
    }
    /* fix text color in search filters  */
    form#search_form label {
        color: var(--text-color);
    }

    /* LEFT MENU */
    /* remove bold */
    .menu {
        z-index: 999;
        .link {
            font-weight: 400;
        }
    }
    /* RIGHT MENU */
    .article-photo-preview {
        border-radius: var(--border-radius);
    }
    .article-bot-preview {
        border-radius: var(--border-radius);
        transition: all .5s;
        &:hover {
            background-color: var(--color-bg-hover);
        }
    }
    .article-bot-preview__title {
        font-size: 18px;
        left: 20px;
    }
    .article-photo-preview__title {
        left: 20px;
        right: 20px;
    }
    /* CONTENT */
    /* change border radius for content cards */
    .block {
        border-radius: var(--border-radius);
    }
    .article-preview__img-wrap:before {
        border-radius: var(--border-radius) var(--border-radius) 0px 0px!important;
    }
    /* fix dark mode for carousel buttons */
    body.scheme_dark .f-button {
        background-color: #555;
        color: #222;
        &:hover:not([disabled]) {
            background-color: #444;
        }
    }
    /* remove subscribe banner */
    .subscribe-block {
        display: none;
    }
    /* news source styling */
    .n_main__urls {
        gap: 10px;
        align-items: center;
        & a:hover {
            color: #fff;
        }
    }
    .n_main__urls_links {
        font-size: 75%;
    }
    /*  telegram comments block rounding */
    .telegam_comments iframe {
        border-radius: var(--border-radius);
    }
    /* main news and events blocks styling */
    .main-news__name .link,
    .events__name .link,
    .events__name {
        font-weight: 400;
    }
    /* pagination styling */
    .pagination__page {
        text-decoration: none;
    }
    .pages-holder {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
    }
    .btn.more_posts {
        width: 100%;
        font-size: 14px;
        height: 30px;
        padding: 0;
        border-radius: 7.5px;
        margin: 0;
    }
    .pagination.main-grid__block {
        margin: 0;
    }
    /* FOOTER */
    /* footer positioning fix */
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            margin: 0 0 0 110px;
        }
    }
    /* easter egg */
    .logo-icon.footer__logo {
        transition: all 1s;
        &:hover {
            transform: rotate(360deg);
        }
    }
    /* ADMIN */
    /* quicklinks styling */
    body.site .quicklinks {
        position: sticky;
        top: 90px;
        z-index: 997;
        border-radius: var(--border-radius);
        width: calc(100% + var(--container-padding) * 2 - 40px);
        margin: 20px 10px 20px -110px;
        background-color: rgba(255, 239, 157, .8);
        backdrop-filter: blur(10px);
        padding: 15px 0;
        & .admin-panel a {
            border-radius: var(--border-radius);
            font-weight: 600;
            font-size: 16px;
            padding: 10px;
            transition: all .5s;
            &:hover {
                background-color: var(--color-bg-hover);
            }
        }
    }
    body.scheme_dark .quicklinks {
        background-color: rgba(0, 0, 0, .7);
        & ._title,
        & ._links > span {
            color: #fff;
            a {
                color: #fff;
            }
            & > span {
                color: #000;
                background-color: var(--color-bg)!important;
                padding: 15px 20px!important;
                border-radius: var(--border-radius);
                font-weight: bold;
                text-align: center;
                line-height: 40px;
            }
        }
        & .admin-panel a {
            color: #000;
        }
        & .fa-external-link-square {
            color: white;
        }
    }

    /* admin menu styling */
    .admin-menu-list {
        border-radius: var(--border-radius)!important;
        top: 20px;
        margin: 20px 0 20px 0!important;
    }
    body.scheme_dark .admin-menu-list {
        background-color: rgba(0, 0, 0, .7)!important;
        border-radius: var(--border-radius)!important;
        margin: 20px!important;
    }
    .admin-tabs {
        border-radius: var(--border-radius);
    }
    .admin-menu-list A,
    .admin-tabs li A {
        border: 0;
        transition: all .5s;
        &:hover {
            color: #aaa;
        }
    }
    /* all posts styling */
    body.scheme_dark .acp .admin-table tr {
        transition: all .5s;
        &:hover {
            background-color: #232323;
        }
    }
    .acp .admin-table tr:hover * {
        color: var(--text-color)!important;
    }
    .acp .admin-table tr td.h1 > span,
    .acp .admin-table tr td.pblc_type > span {
        background-color: #555!important;
    }
    .acp .admin-table tr td.pblc_type > span,
    .acp .admin-table tr:hover td.pblc_type > span,
    .acp .admin-table tr td.h1 > span {
        color: #fff!important;
    }

    body.scheme_dark .acp .admin-table tr:hover *,
    .acp .admin-table tr:hover *,
    .admin-table tr .user,
    .admin-table tr .user span,
    .tbl-posts tr .h1 a:hover {
        color: var(--text-color) !important;
    }

    body.scheme_dark .acp .admin-table tr .publink a,
    .acp .admin-table tr .publink a {
        text-decoration: none;
        color: #000;
        background-color: var(--color-bg);
        padding: 5px 10px;
        margin: 0 0 0 10px;
        border-radius: var(--border-radius);
        font-weight: 600;
        transition: all .5s;
        &:hover {
            background-color: var(--color-bg-hover);
            color: #000!important;
        }
    }
    /* set right height and hover effect for 'Undo' button */
    .butpanel ._cancel {
        padding: 19px 0;
        border: 0;
        transition: all .5s;
        &:hover {
            background-color: #ccc;
        }
    }
    /* editor styling */
    section.no-top-pad {
        padding-top: 25px!important;
    }
    .watermark_settings {
        top: 0;
        padding: 15px 25px;
        h5 {
            margin: 0 0 10px 0;
        }
        & > ._types > div > div.wmt.active {
            outline: 2px solid var(--color-bg);
        }
    }
    .editor-v2,
    body.scheme_dark .editor-v2 {
        border: 0;
        padding: 15px;
    }
    .codex-editor__redactor,
    .editor-v2 > .codex-editor > .codex-editor__redactor {
        font-size: 18px;
        border-radius: var(--border-radius);
    }

    body.scheme_dark {
        .form-group > span > [type=radio] + label {
            background-color: #555;
            color: #fff;
            border-radius: var(--border-radius);
            margin: 0 5px;
            transition: all .5s;
            &:hover {
                background-color: #505050;
            }
        }
        .form-group > span > [type=radio]:checked + label {
            background-color: var(--color-bg);
            color: #000;
        }
        .editor-v2,
        .acp .upload_main_image,
        .acp .editor-inner-block {
            background-color: #2e2e2e;
        }
        .codex-editor__redactor,
        .editor-v2 > .codex-editor > .codex-editor__redactor {
            background-color: #373737;
            border: 1px solid #555555;
            color: #fff;
        }
        .ce-block--selected .ce-block__content {
            background-color: #222;
        }
        .codex-editor__redactor .ce-block {
            border-color: #555;
        }
        .codex-editor__redactor .ce-block.ce-block--focused {
            border-color: #222;
        }
        .ce-toolbar__plus,
        .ce-toolbar__settings-btn {
            color: #fff;
            &:hover {
                background-color: #555;
            }
        }
        .ce-conversion-toolbar,
        .ce-conversion-tool__icon,
        .ce-popover--opened,
        .ce-popover-item__icon,
        .cdx-search-field {
            background-color: #373737;
            border: 1px solid #555555;
        }
        .ce-popover-item {
            color: var(--text-color);
        }
        .ce-conversion-toolbar__label {
            color: #fff;
        }
        .ce-conversion-tool:hover,
        .ce-inline-tool:hover,
        .ce-inline-toolbar__dropdown:hover,
        .ce-popover-item:hover:not(.ce-popover-item--no-hover) {
            background-color: #2d2d2d;
        }
        .ce-conversion-tool--focused,
        .ce-popover-item--active {
            background-color: #222!important;
            color: #eee;
        }
        .cdx-search-field__input,
        .cdx-search-field__icon svg {
            color: var(--text-color);
        }
        .cdx-search-field__input::placeholder {
            color: #707684;
        }
        .butpanel,
        .watermark_settings {
            background: rgba(46, 46, 46, 0.1) !important;
        }
        .preview-group label input:checked + img {
            outline: 2px solid var(--color-bg);
        }
    }
    /* HEADER */
    /* header styling */
    .header {
        margin: 10px;
        padding: 15px 20px;
        width: calc(100% - 20px);
        position: fixed;
        border-radius: var(--border-radius);
        background-color: rgba(255, 255, 255, .7);
        backdrop-filter: blur(10px);
        z-index: 998;
    }
    body.scheme_dark .header {
        background-color: rgba(0, 0, 0, .7);
    }
    @media screen and (max-width: 1399.98px) {
        /* LEFT MENU */
        /* left menu styling */
        .menu {
            background-color: rgba(0, 0, 0, .7)!important;
            backdrop-filter: blur(10px);
            border-radius: var(--border-radius);
            margin: 20px 0 10px 10px;

            transform: translateX(-110%);
        }
    }
    @media screen and (min-width: 1399.98px) {
        /* HEADER */
        /* header styling */
        .main-holder {
            margin-top: 100px;
        }
        .header__logo {
            margin-right: 0;
        }
        .header__search {
            width: 965px;
            margin-left: 6px;
            margin-right: 0;
        }
        .search,
        .search__input {
            border-radius: var(--border-radius);
        }
        .search__input {
            max-width: 965px;
            width: 965px;
        }
        /* LEFT MENU */
        /* move left menu to center */
        .main-holder {
            justify-items: center;
            justify-content: center;
            grid-template-columns: auto auto;
            width: calc(100vw - 20px);
            gap: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        body.site main > .container {
            left: 0;
            width: 990px;
        }
        /* remove padding */
        .menu__list {
            padding: 0;
        }
        /* move for fixed header */
        .menu {
            top: 100px;
        }
        /* adminpanel button styling */
        .menu .acplink {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background: none;
            display: flex;
            gap: 5px;
            & a {
                background-color: var(--color-bg);
                padding: 12px 14px;
                border-radius: var(--border-radius);
                height: 20px;
                display: block;
                transition: all .5s;
                font-weight: 600;
                &:hover {
                    background-color: var(--color-bg-hover);
                }
            }
        }
        .menu .acplink a.add_post {
            padding: 12px 14px;
            line-height: 20px;
            border: 0;
        }
    }
}
@-moz-document url-prefix("https://rozetked.me/acp/") {
    /* fixes for admin section */
    .header {
        position: relative;
    }
    .main-holder {
        margin-top: 0;
    }
    .footer {
        .container {
            margin: 0;
        }
    }
}
@-moz-document url-prefix("https://rozetked.me/acp/post2/") {
    /* remove admin menu from editor page */
    .admin-menu-list {
        display: none;
    }
    .acp .title_block {
        display: none;
    }
    body.scheme_dark .quicklinks,
    .acp .quicklinks {
        padding-top: 0;
        background-color: transparent;
    }
}